@import "./adaption.scss";

div {
  box-sizing: border-box;
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
  @extend .beautiful-scrollbar;
}

#root {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.beautiful-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #fed6e3;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(152, 90, 180, 0.4);
    border-radius: 10px;
  }
}
